[defaults]
inventory = inventory.ini
roles_path = roles
nocows = True
retry_files_enabled = False
interpreter_python = /usr/bin/python3
callback_result_format = yaml
display_skipped_hosts = False

[privilege_escalation]
become = True
become_method = sudo
